# Meta
APP_ENV=prod
NEXT_PUBLIC_APP_NAME="Kaninchen Quest"

# Public URL of this Next.js app
AUTH_URL=http://localhost:3003
NEXTAUTH_URL=http://localhost:3003

# Generate with: openssl rand -base64 32
AUTH_SECRET="CHANGE_ME_GENERATE_A_RANDOM_SECRET"
NEXTAUTH_SECRET="CHANGE_ME_GENERATE_A_RANDOM_SECRET"

# PostgreSQL
DATABASE_URL="postgresql://kaninchen_app:CHANGE_ME@localhost:5432/kaninchen?schema=public"

# Authentication / Auth.js
AUTH_KEYCLOAK_ID="kaninchen"
AUTH_KEYCLOAK_SECRET="CHANGE_ME_CLIENT_SECRET"
AUTH_KEYCLOAK_ISSUER="https://login.yourdomain.com/realms/kaninchen"

# Debugging
KANINCHEN_AUTH_DEBUG="false"