# Meta
APP_ENV=prod
NEXT_PUBLIC_APP_NAME="Kaninchen Quest"

# Public URL of this Next.js app
AUTH_URL=http://localhost:3003
NEXTAUTH_URL=http://localhost:3003

# Generate with: openssl rand -base64 32
AUTH_SECRET="CHANGE_ME_GENERATE_A_RANDOM_SECRET"
NEXTAUTH_SECRET="CHANGE_ME_GENERATE_A_RANDOM_SECRET"

# PostgreSQL
# Example: postgresql://kanninchen_app:CHANGE_ME@sva00003psql001.services.alvestrasza.prod:5432/kanninchen?schema=public
DATABASE_URL="postgresql://kanninchen_app:CHANGE_ME@localhost:5432/kanninchen?schema=public"

# Keycloak / Auth.js
# Example issuer: https://login.alvestrasza.com/realms/flightclub
AUTH_KEYCLOAK_ID="kanninchen"
AUTH_KEYCLOAK_SECRET="CHANGE_ME_CLIENT_SECRET"
AUTH_KEYCLOAK_ISSUER="https://login.alvestrasza.com/realms/kanninchen"
